/* Sidebar layout styles */
.sidebar-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
}

.user-vehicles-sidebar {
    height: 98vh;
    width: 100%;
    max-width: 450px;
    background: var(--user-vehicles-sidebar-bg);
    padding: 1rem;
    margin: 3px;
    border-radius: var(--main-border-radius);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .sidebar-header {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    .user-card-wrapper {
        flex: 1;

        .user-card {
            border-radius: 0 var(--main-border-radius) var(--main-border-radius) 0;
        }
    }

    .back-btn-wrapper {
        display: flex;
        align-items: stretch;

    }

    .back-btn {
        height: 100%;
        padding: 0 1rem;
        font-size: 1.2rem;
        background: var(--user-vehicles-back-button-bg);
        border: none;
        border-radius: var(--main-border-radius) 0 0 var(--main-border-radius);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.2s;
    }

    .back-btn:hover {
        background: var(--user-vehicles-back-button-hover-bg);
    }



    .vehicles-list {
        overflow-y: auto;
        border-radius: var(--main-border-radius);

        // Adding spacing between user cards
        &>*:not(:last-child) {
            margin-bottom: 8px;
            display: block;
        }
    }
}

.user-vehicles-content {
    height: 98vh;
    flex: 1;
    margin: 3px;
    border-radius: var(--main-border-radius);
    min-width: 0;
}

// #map,
.map-container {
    height: 100%;
    width: 100%;
    border-radius: var(--main-border-radius);
}

.progress-bar-wrapper {
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
}

.connection-warning {
    position: relative;
    height: 25px;
    margin-bottom: -25px;
    background-color: var(--connection-warning-bg);
    border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--connection-warning-text-color);
    z-index: 1000;
}

// Map marker highlight animation
@keyframes flash {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.3;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

:host ::ng-deep .car-marker.flash {
    animation: flash 0.6s ease-in-out 4;
}