<div class="sidebar-layout">
    <aside class="user-vehicles-sidebar">
        <div class="sidebar-header">
            <div class="back-btn-wrapper">
                <button class="back-btn" routerLink="/">&#8592;</button>
            </div>
            <div class="user-card-wrapper">
                @if (user) {
                <app-user-card [user]="user"></app-user-card>
                }
            </div>
        </div>

        <div class="progress-bar-wrapper">
            <app-progress-bar [value]="progress()" [text]="'Loading vehicle locations...'"></app-progress-bar>
        </div>

        <div class="vehicles-list">
            @if (user && user.vehicles.length > 0) {
            @for (vehicle of user.vehicles; track $index) {
            <app-vehicle-card [vehicle]="vehicle" (cardClick)="selectVehicle(vehicle)"></app-vehicle-card>
            }}

        </div>
    </aside>
    <main class="user-vehicles-content">
        <div id="map" class="map-container"></div>
    </main>
</div>