.vehicle-card {
    background: #f5f5f5;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #666666;

    &:hover {
        background-color: #a9dfbf
    }

    &.selected {
        background-color: #f5ff68;
    }

    .vehicle-info {
        display: flex;
        align-items: center;
    }

    .vehicle-info img {
        width: 90px;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
        margin-right: 1rem;
    }

    .vehicle-details p {
        margin: 0;
    }
}