.vehicle-card {
    background: var(--vehicle-card-bg);
    border-radius: var(--main-border-radius);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: var(--text-color);

    &:hover {
        background: var(--vehicle-card-hover-bg);
    }

    &.selected {
        background: var(--vehicle-card-selected-bg);
    }

    .vehicle-info {
        display: flex;
        align-items: center;
    }

    .vehicle-info img {
        width: 90px;
        height: auto;
        object-fit: cover;
        border-radius: var(--main-border-radius);
        margin-right: 1rem;
    }

    .vehicle-details p {
        margin: 0;
    }
}