.theme-switcher {
    background: white;
    border-radius: 16px;
    height: 36px;
}

.theme-switcher:hover {
    background: #aed6f1;
}

.theme-switcher-float {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9000;
}