<div class="page-wrapper">

  <div class="user-list-container">
    <div class="search-bar">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search users..." />
    </div>

    <div class="user-list scrollable">


      @if (isLoading()) {
      @for (i of [1, 2, 3]; track i) {
      <app-user-card-placeholder />
      }}

      @if (!isLoading() && users().length === 0) {
      <div class="empty">
        No users found.
      </div>
      }

      @if (!isLoading()) {
      @for (user of users(); track $index) {
      <app-user-card [user]="user" (cardClick)="navigateToUser(user)"></app-user-card>
      }
      }

    </div>
  </div>

</div>