.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 98vh;
}

.user-list-container {
  width: 100%;
  max-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #B9C3DE;
  border-radius: 8px;

  .search-bar {
    padding: 10px;
  }

  .search-bar input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
  }
}



.user-list {
  overflow-y: auto;
  padding: 10px;
  flex-grow: 1;

  h2 {
    margin-bottom: 1rem;
  }

  .user-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .user-card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    background: #e3e4f3;


    &:hover {
      background-color: #ddd;
    }


    .user-info img {
      width: 120px;
      height: auto;
      border-radius: 8px;
      margin-bottom: 0.5rem;
      margin-right: 15px;
    }

    .user-details {
      margin: 0 15px;

      p {
        padding: 0;
        margin: 0;
        font-size: 24px;
        color: #666666;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    }

  }

  .loading,
  .empty {
    font-style: italic;
    color: gray;
  }
}

/* Base placeholder card */
.placeholder {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 12px;
  background-color: #f3f3f3;
  animation: pulse 1.5s infinite ease-in-out;
}

/* Skeleton structure */
.img-skeleton {

  width: 120px;
  height: 120px;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  background-color: #ddd;
  margin-right: 15px;
}

.text-skeleton {
  height: 16px;
  background-color: #ddd;
  margin: 6px 0;
  border-radius: 4px;
}

/* Individual widths for realism */
.name {
  width: 120px;
}

.surname {
  width: 150px;
}

.vehicles {
  width: 100px;
}

/* Container flex layout */
.user-info {
  display: flex;
  align-items: flex-start;
}

.user-details {
  display: flex;
  flex-direction: column;
}

/* Pulse animation */
@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}